# {{ template_destpath }}
# {{ ansible_managed }}

<IfModule status_module>
    <Location /server-status>
        SetHandler server-status
        Order deny,allow
        Deny from all
        Allow from 127.0.0.1
    </Location>
</IfModule>
